---
import { storyblokEditable } from "@storyblok/astro";

import { FooterStoryblok } from "@types";

export type Props = {
  blok: FooterStoryblok;
};

const { blok } = Astro.props;

const hasNavLinks = !!blok.navLinks && blok?.navLinks?.length > 0;
---

<style>
  footer {
    justify-items: end;
    margin-top: auto;
    padding: 1rem;

    & > ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
</style>

<footer {...storyblokEditable(blok)}>
  <section>
    <h3>Pages</h3>

    {
      hasNavLinks ? (
        <ul>
          {blok?.navLinks?.map((link) => {
            if (typeof link.page === "string") {
              return null;
            }

            return (
              <li>
                <a href={`/${link.page.slug === "home" ? "" : link.page.slug}`}>
                  {link.title}
                </a>
              </li>
            );
          })}
        </ul>
      ) : null
    }
  </section>
</footer>
