---
import { storyblokEditable } from "@storyblok/astro";

import { HeaderStoryblok, InternalLinkStoryblok, PageStoryblok } from "@types";

export type Props = {
  blok: HeaderStoryblok;
};

const { blok } = Astro.props;
---

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  nav {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    background: red;
  }
</style>

<header {...storyblokEditable(blok)}>
  <nav data-field="navLinks">
    <ul>
      {
        blok?.navLinks?.map((link) => {
          if (typeof link.page === "string") {
            return null;
          }

          return (
            <li>
              <a href={`/${link.page.slug === "home" ? "" : link.page.slug}`}>
                {link.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
