---
import { storyblokEditable } from "@storyblok/astro";

import { Image } from "@astrojs/image/components";
import { HeaderStoryblok } from "@types";

export type Props = {
  blok: HeaderStoryblok;
};

const { blok } = Astro.props;

const logo = {
  filename: "logo.svg",
  alt: "Logo",
  filename:
    "data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22112%22%20height%3D%2256%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20112%2056%22%20preserveAspectRatio%3D%22none%22%3E%0A%20%20%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cstyle%20type%3D%22text%2Fcss%22%3E%0A%20%20%20%20%20%20%20%20%20%20%23holder%20text%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20fill%3A%20%23ffffff%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-family%3A%20sans-serif%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-size%3A%2016px%3B%0A%20%20%20%20%20%20%20%20%20%20%20%20font-weight%3A%20400%3B%0A%20%20%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20%3C%2Fstyle%3E%0A%20%20%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%20%20%3Cg%20id%3D%22holder%22%3E%0A%20%20%20%20%20%20%20%20%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22%23059183%22%3E%3C%2Frect%3E%0A%20%20%20%20%20%20%20%20%3Cg%3E%0A%20%20%20%20%20%20%20%20%20%20%3Ctext%20text-anchor%3D%22middle%22%20x%3D%2250%25%22%20y%3D%2250%25%22%20dy%3D%22.3em%22%3E112%20x%2056%3C%2Ftext%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fsvg%3E",
  id: 0,
  name: "logo",
  title: "logo",
  ...blok?.logo,
};
---

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;

    & ul {
      display: flex;
      padding: 1rem;
      gap: 1rem;
      position: relative;
    }
  }
</style>

<header {...storyblokEditable(blok)}>
  <nav data-field="navLinks">
    <Image src={logo.filename} alt={logo.alt} width={112} height={56} />

    <ul>
      {
        blok?.navLinks?.map((link) => {
          if (typeof link.page === "string") {
            return null;
          }

          return (
            <li>
              <a href={`/${link.page.slug === "home" ? "" : link.page.slug}`}>
                {link.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
