---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
---

<style>
  header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }

  nav {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    position: relative;
    background: red;
  }
</style>

<header {...storyblokEditable(blok)}>
  <nav data-field="navLinks">
    {
      blok.navLinks.map((link) => (
        <a href={`/${link.page.slug === "home" ? "" : link.page.slug}`}>
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
