:root {
  --color-primary: #8b00ff;
  --color-primary-dark: #2b0547;

  --color-background: var(--color-primary-dark);

  --color-text: #fff;

  /* TODO: Check a better way to get this (and without JS) */
  --header-height: 5.03rem;
  --available-page-height: calc(100vh - var(--header-height));
}

/* Scales from Perfect Fourth to Golden Ratio  */
.marketing-font-scale {
  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Raleway", sans-serif;

  --font-size-h1-perfect-fourth: 4.209rem;
  --font-size-h1-perfect-fifth: 7.594rem;
  --font-size-h1: clamp(
    var(--font-size-h1-perfect-fourth),
    3.532rem + 3.385vw,
    var(--font-size-h1-perfect-fifth)
  );

  --font-size-h2-perfect-fourth: 3.157rem;
  --font-size-h2-perfect-fifth: 5.063rem;
  --font-size-h2: clamp(
    var(--font-size-h2-perfect-fourth),
    2.7758rem + 1.906vw,
    var(--font-size-h2-perfect-fifth)
  );

  --font-size-h3-perfect-fourth: 2.369rem;
  --font-size-h3-perfect-fifth: 3.375rem;
  --font-size-h3: clamp(
    var(--font-size-h3-perfect-fourth),
    2.1678rem + 1.006vw,
    var(--font-size-h3-perfect-fifth)
  );

  --font-size-h4-perfect-fourth: 1.777rem;
  --font-size-h4-perfect-fifth: 2.25rem;
  --font-size-h4: clamp(
    var(--font-size-h4-perfect-fourth),
    1.6824rem + 0.473vw,
    var(--font-size-h4-perfect-fifth)
  );

  --font-size-h5-perfect-fourth: 1.333rem;
  --font-size-h5-perfect-fifth: 1.5rem;
  --font-size-h5: clamp(
    var(--font-size-h5-perfect-fourth),
    1.2996rem + 0.167vw,
    var(--font-size-h5-perfect-fifth)
  );

  --font-size-body-normal: 1rem;

  --font-size-body-small-perfect-fourth: 0.75rem;
  --font-size-body-small-perfect-fifth: 0.667rem;
  --font-size-body-small: clamp(
    var(--font-size-body-small-perfect-fourth),
    0.7666rem + -0.083vw,
    var(--font-size-body-small-perfect-fifth)
  );

  /* TODO: Check if this is right */
  --font-size-body-extra-small: 0.236rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --line-height-body: 1.75;
  --line-height-heading: 1.3;
}

.regular-font-scale {
  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Raleway", sans-serif;

  --font-size-h1: 3.052rem;
  --font-size-h2: 2.441rem;
  --font-size-h3: 1.953rem;
  --font-size-h4: 1.563rem;
  --font-size-h5: 1.25rem;

  --font-size-body-normal: 1rem;
  --font-size-body-small: 0.8rem;
  --font-size-body-extra-small: 0.512rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --line-height-body: 1.75;
  --line-height-heading: 1.33;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
  background: var(--color-background);
  color: var(--color-text);
  line-height: var(--line-height-body);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-heading);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-semi-bold);
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 ~ ul,
ol {
  margin-bottom: 0.75rem;
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: 0;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 70ch;
}

p {
  margin-bottom: 1rem;
}

p,
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body > header,
footer,
main {
  display: grid;
  grid-template-columns:
    1fr
    min(95%, 1920px)
    1fr;

  & > * {
    grid-column: 2;
  }

  &.pageSection > *:only-child {
    grid-column: 2 / -2;
    background: red;
  }
}

main[tabindex="-1"] {
  outline: none;
}

/* TODO: Check if these are going to be useful for Columns and delete otherwise */
.autoLayout {
  display: flex;

  /* Vertical Layout */
  &.vertical {
    flex-direction: column;

    /* Align Left */
    &.alignTopLeft {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.alignLeft {
      justify-content: center;
      align-items: flex-start;
    }

    &.alignBottomLeft {
      justify-content: flex-end;
      align-items: flex-start;
    }
    /*  */

    /* Align Center */
    &.alignTopCenter {
      justify-content: flex-start;
      align-items: center;
    }

    &.alignCenter {
      justify-content: center;
      align-items: center;
    }

    &.alignBottomCenter {
      justify-content: flex-end;
      align-items: center;
    }
    /*  */

    /* Align Right */
    &.alignTopRight {
      justify-content: flex-start;
      align-items: flex-end;
    }

    &.alignRight {
      justify-content: center;
      align-items: flex-end;
    }

    &.alignBottomRight {
      justify-content: flex-end;
      align-items: flex-end;
    }
    /*  */
  }
  /*  */

  /* Horizontal Layout */
  &.horizontal {
    flex-direction: row;

    /* Align Left */
    &.alignTopLeft {
      align-items: flex-start;
      justify-content: flex-start;
    }

    &.alignLeft {
      align-items: center;
      justify-content: flex-start;
    }

    &.alignBottomLeft {
      align-items: flex-end;
      justify-content: flex-start;
    }
    /*  */

    /* Align Top Center */
    &.alignTopCenter {
      align-items: center;
      justify-content: flex-start;
    }

    &.alignCenter {
      align-items: center;
      justify-content: center;
    }

    &.alignBottomCenter {
      align-items: center;
      justify-content: flex-end;
    }
    /*  */

    /* Align Right */
    &.alignTopRight {
      align-items: flex-start;
      justify-content: flex-end;
    }

    &.alignRight {
      align-items: center;
      justify-content: flex-end;
    }

    &.alignBottomRight {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  /*  */

  /* Vertical Resizing */
  &.verticalResizing-hugContent {
    height: auto;
  }

  &.verticalResizing-fillContainer {
    height: 100%;
  }
  /*  */

  /* Horizontal Resizing */
  &.horizontalResizing-hugContent {
    width: auto;
  }
  &.horizontalResizing-fillContainer {
    width: 100%;
  }
  /*  */

  @media (min-width: 768px) {
    /* Vertical Layout */
    &.tablet-vertical {
      flex-direction: column;

      /* Align Left */
      &.tablet-alignTopLeft {
        justify-content: flex-start;
        align-items: flex-start;
      }

      &.tablet-alignLeft {
        justify-content: center;
        align-items: flex-start;
      }

      &.tablet-alignBottomLeft {
        justify-content: flex-end;
        align-items: flex-start;
      }
      /*  */

      /* Align Center */
      &.tablet-alignTopCenter {
        justify-content: flex-start;
        align-items: center;
      }

      &.tablet-alignCenter {
        justify-content: center;
        align-items: center;
      }

      &.tablet-alignBottomCenter {
        justify-content: flex-end;
        align-items: center;
      }
      /*  */

      /* Align Right */
      &.tablet-alignTopRight {
        justify-content: flex-start;
        align-items: flex-end;
      }

      &.tablet-alignRight {
        justify-content: center;
        align-items: flex-end;
      }

      &.tablet-alignBottomRight {
        justify-content: flex-end;
        align-items: flex-end;
      }
      /*  */
    }
    /*  */

    /* Horizontal Layout */
    &.tablet-horizontal {
      flex-direction: row;

      /* Align Left */
      &.tablet-alignTopLeft {
        align-items: flex-start;
        justify-content: flex-start;
      }

      &.tablet-alignLeft {
        align-items: center;
        justify-content: flex-start;
      }

      &.tablet-alignBottomLeft {
        align-items: flex-end;
        justify-content: flex-start;
      }
      /*  */

      /* Align Top Center */
      &.tablet-alignTopCenter {
        justify-content: center;
        align-items: flex-start;
      }

      &.tablet-alignCenter {
        justify-content: center;
        align-items: center;
      }

      &.tablet-alignBottomCenter {
        justify-content: center;
        align-items: flex-end;
      }
      /*  */

      /* Align Right */
      &.tablet-alignTopRight {
        align-items: flex-start;
        justify-content: flex-end;
      }

      &.tablet-alignRight {
        align-items: center;
        justify-content: flex-end;
      }

      &.tablet-alignBottomRight {
        align-items: flex-end;
        justify-content: flex-end;
      }
      /*  */
    }
    /*  */

    /* Vertical Resizing */
    &.tablet-verticalResizing-hugContent {
      height: auto;
    }

    &.tablet-verticalResizing-fillContainer {
      height: 100%;
    }
    /*  */

    /* Horizontal Resizing */
    &.tablet-horizontalResizing-hugContent {
      width: auto;
    }
    &.tablet-horizontalResizing-fillContainer {
      width: 100%;
    }
    /*  */
  }

  @media (min-width: 1024px) {
    /* Vertical Layout */
    &.desktop-vertical {
      flex-direction: column;

      /* Align Left */
      &.desktop-alignTopLeft {
        justify-content: flex-start;
        align-items: flex-start;
      }

      &.desktop-alignLeft {
        justify-content: center;
        align-items: flex-start;
      }

      &.desktop-alignBottomLeft {
        justify-content: flex-end;
        align-items: flex-start;
      }
      /*  */

      /* Align Center */
      &.desktop-alignTopCenter {
        justify-content: flex-start;
        align-items: center;
      }

      &.desktop-alignCenter {
        justify-content: center;
        align-items: center;
      }

      &.desktop-alignBottomCenter {
        justify-content: flex-end;
        align-items: center;
      }
      /*  */

      /* Align Right */
      &.desktop-alignTopRight {
        justify-content: flex-start;
        align-items: flex-end;
      }

      &.desktop-alignRight {
        justify-content: center;
        align-items: flex-end;
      }

      &.desktop-alignBottomRight {
        justify-content: flex-end;
        align-items: flex-end;
      }
      /*  */
    }
    /*  */

    /* Horizontal Layout */
    &.desktop-horizontal {
      flex-direction: row;

      /* Align Left */
      &.desktop-alignTopLeft {
        align-items: flex-start;
        justify-content: flex-start;
      }

      &.desktop-alignLeft {
        align-items: center;
        justify-content: flex-start;
      }

      &.desktop-alignBottomLeft {
        align-items: flex-end;
        justify-content: flex-start;
      }
      /*  */

      /* Align Center */
      &.desktop-alignTopCenter {
        justify-content: center;
        align-items: flex-start;
      }

      &.desktop-alignCenter {
        justify-content: center;
        align-items: center;
      }

      &.desktop-alignBottomCenter {
        justify-content: center;
        align-items: flex-end;
      }
      /*  */

      /* Align Right */
      &.desktop-alignTopRight {
        align-items: flex-start;
        justify-content: flex-end;
      }

      &.desktop-alignRight {
        align-items: center;
        justify-content: flex-end;
      }

      &.desktop-alignBottomRight {
        align-items: flex-end;
        justify-content: flex-end;
      }
      /*  */
    }
    /*  */

    /* Vertical Resizing */
    &.desktop-verticalResizing-hugContent {
      height: auto;
    }

    &.desktop-verticalResizing-fillContainer {
      height: 100%;
    }
    /*  */

    /* Horizontal Resizing */
    &.desktop-horizontalResizing-hugContent {
      width: auto;
    }
    &.desktop-horizontalResizing-fillContainer {
      width: 100%;
    }
    /*  */
  }
}

.textAlign-left {
  text-align: left;
}

.textAlign-center {
  text-align: center;
}

.textAlign-right {
  text-align: right;
}

.tablet-textAlign-left {
  @media (min-width: 768px) {
    text-align: left;
  }
}

.tablet-textAlign-center {
  @media (min-width: 768px) {
    text-align: center;
  }
}

.tablet-textAlign-right {
  @media (min-width: 768px) {
    text-align: right;
  }
}

.desktop-textAlign-left {
  @media (min-width: 1024px) {
    text-align: left;
  }
}

.desktop-textAlign-center {
  @media (min-width: 1024px) {
    text-align: center;
  }
}

.desktop-textAlign-right {
  @media (min-width: 1024px) {
    text-align: right;
  }
}

/* Padding */

.padding-left {
  --padding-left: var(--paddingLeftOnMobile);

  padding-left: var(--padding-left);
}

.padding-left-tablet {
  @media (min-width: 768px) {
    --padding-left: var(--paddingLeftOnTablet);
  }
}

.padding-left-desktop {
  @media (min-width: 1024px) {
    --padding-left: var(--paddingLeftOnDesktop);
  }
}

.padding-right {
  --padding-right: var(--paddingRightOnMobile);

  padding-right: var(--padding-right);
}

.padding-right-tablet {
  @media (min-width: 768px) {
    --padding-right: var(--paddingRightOnTablet);
  }
}

.padding-right-desktop {
  @media (min-width: 1024px) {
    --padding-right: var(--paddingRightOnDesktop);
  }
}

.padding-top {
  --padding-top: var(--paddingTopOnMobile);

  padding-top: var(--padding-top);
}

.padding-top-tablet {
  @media (min-width: 768px) {
    --padding-top: var(--paddingTopOnTablet);
  }
}

.padding-top-desktop {
  @media (min-width: 1024px) {
    --padding-top: var(--paddingTopOnDesktop);
  }
}

.padding-bottom {
  --padding-bottom: var(--paddingBottomOnMobile);

  padding-bottom: var(--padding-bottom);
}

.padding-bottom-tablet {
  @media (min-width: 768px) {
    --padding-bottom: var(--paddingBottomOnTablet);
  }
}

.padding-bottom-desktop {
  @media (min-width: 1024px) {
    --padding-bottom: var(--paddingBottomOnDesktop);
  }
}
/*  */

/* Min Height */
.min-height {
  --min-height: var(--minHeightOnMobile);
  min-height: var(--min-height);
}

.min-height-tablet {
  @media (min-width: 768px) {
    --min-height: var(--minHeightOnTablet);
  }
}

.min-height-desktop {
  @media (min-width: 1024px) {
    --min-height: var(--minHeightOnDesktop);
  }
}
/*  */

/* Max Width */
.max-width {
  --max-width: var(--maxWidthOnMobile);
  max-width: var(--max-width);
}

.max-width-tablet {
  @media (min-width: 768px) {
    --max-width: var(--maxWidthOnTablet);
  }
}

.max-width-desktop {
  @media (min-width: 1024px) {
    --max-width: var(--maxWidthOnDesktop);
  }
}
/*  */
