:root {
  --color-primary: #8b00ff;
  --color-primary-dark: #2b0547;

  --color-background: var(--color-primary-dark);

  --color-text: #fff;

  /* TODO: Check a better way to get this (and without JS) */
  --header-height: 5.03rem;
  --available-page-height: calc(100vh - var(--header-height));
}

/* Scales from Perfect Fourth to Golden Ratio  */
.marketing-font-scale {
  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Raleway", sans-serif;

  --font-size-h1-perfect-fourth: 4.209rem;
  --font-size-h1-perfect-fifth: 7.594rem;
  --font-size-h1: clamp(
    var(--font-size-h1-perfect-fourth),
    3.532rem + 3.385vw,
    var(--font-size-h1-perfect-fifth)
  );

  --font-size-h2-perfect-fourth: 3.157rem;
  --font-size-h2-perfect-fifth: 5.063rem;
  --font-size-h2: clamp(
    var(--font-size-h2-perfect-fourth),
    2.7758rem + 1.906vw,
    var(--font-size-h2-perfect-fifth)
  );

  --font-size-h3-perfect-fourth: 2.369rem;
  --font-size-h3-perfect-fifth: 3.375rem;
  --font-size-h3: clamp(
    var(--font-size-h3-perfect-fourth),
    2.1678rem + 1.006vw,
    var(--font-size-h3-perfect-fifth)
  );

  --font-size-h4-perfect-fourth: 1.777rem;
  --font-size-h4-perfect-fifth: 2.25rem;
  --font-size-h4: clamp(
    var(--font-size-h4-perfect-fourth),
    1.6824rem + 0.473vw,
    var(--font-size-h4-perfect-fifth)
  );

  --font-size-h5-perfect-fourth: 1.333rem;
  --font-size-h5-perfect-fifth: 1.5rem;
  --font-size-h5: clamp(
    var(--font-size-h5-perfect-fourth),
    1.2996rem + 0.167vw,
    var(--font-size-h5-perfect-fifth)
  );

  --font-size-body-normal: 1rem;

  --font-size-body-small-perfect-fourth: 0.75rem;
  --font-size-body-small-perfect-fifth: 0.667rem;
  --font-size-body-small: clamp(
    var(--font-size-body-small-perfect-fourth),
    0.7666rem + -0.083vw,
    var(--font-size-body-small-perfect-fifth)
  );

  /* TODO: Check if this is right */
  --font-size-body-extra-small: 0.236rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --line-height-body: 1.75;
  --line-height-heading: 1.3;
}

.regular-font-scale {
  --font-family-heading: "Raleway", sans-serif;
  --font-family-body: "Raleway", sans-serif;

  --font-size-h1: 3.052rem;
  --font-size-h2: 2.441rem;
  --font-size-h3: 1.953rem;
  --font-size-h4: 1.563rem;
  --font-size-h5: 1.25rem;

  --font-size-body-normal: 1rem;
  --font-size-body-small: 0.8rem;
  --font-size-body-extra-small: 0.512rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --line-height-body: 1.75;
  --line-height-heading: 1.33;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-body);
  background: var(--color-background);
  color: var(--color-text);
  line-height: var(--line-height-body);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-heading);
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-semi-bold);
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 ~ ul,
ol {
  margin-bottom: 0.75rem;
}

h1 {
  font-size: var(--font-size-h1);
  margin-top: 0;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 70ch;
}

p {
  margin-bottom: 1rem;
}

p,
a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body > main,
header,
footer {
  display: grid;
  grid-template-columns: 1fr min(95%, 1200px) 1fr;
  container-type: inline-size;

  & > * {
    grid-column: 2;
  }
}

main[tabindex="-1"] {
  outline: none;
}

.autoLayout {
  display: flex;

  &.vertical {
    flex-direction: column;

    &.alignTopLeft,
    &.alignLeft,
    &.alignBottomLeft {
      justify-content: flex-start;
    }

    &.alignTopCenter,
    &.alignCenter,
    &.alignBottomCenter {
      justify-content: center;
    }

    &.alignTopRight,
    &.alignRight,
    &.alignBottomRight {
      justify-content: flex-end;
    }
  }

  &.horizontal {
    flex-direction: row;

    &.alignTopLeft,
    &.alignLeft,
    &.alignBottomLeft {
      align-items: flex-start;
    }

    &.alignTopCenter,
    &.alignCenter,
    &.alignBottomCenter {
      align-items: center;
    }

    &.alignTopRight,
    &.alignRight,
    &.alignBottomRight {
      align-items: flex-end;
    }
  }

  @container (min-width: 768px) {
    &.tablet-vertical {
      flex-direction: column;

      &.tablet-alignTopLeft,
      &.tablet-alignLeft,
      &.tablet-alignBottomLeft {
        justify-content: flex-start;
      }

      &.tablet-alignTopCenter,
      &.tablet-alignCenter,
      &.tablet-alignBottomCenter {
        justify-content: center;
      }

      &.tablet-alignTopRight,
      &.tablet-alignRight,
      &.tablet-alignBottomRight {
        justify-content: flex-end;
      }
    }

    &.tablet-horizontal {
      flex-direction: row;

      &.tablet-alignTopLeft,
      &.tablet-alignLeft,
      &.tablet-alignBottomLeft {
        align-items: flex-start;
      }

      &.tablet-alignTopCenter,
      &.tablet-alignCenter,
      &.tablet-alignBottomCenter {
        align-items: center;
      }

      &.tablet-alignTopRight,
      &.tablet-alignRight,
      &.tablet-alignBottomRight {
        align-items: flex-end;
      }
    }
  }

  @container (min-width: 1024px) {
    &.desktop-vertical {
      flex-direction: column;

      &.desktop-alignTopLeft,
      &.desktop-alignLeft,
      &.desktop-alignBottomLeft {
        justify-content: flex-start;
      }

      &.desktop-alignTopCenter,
      &.desktop-alignCenter,
      &.desktop-alignBottomCenter {
        justify-content: center;
      }

      &.desktop-alignTopRight,
      &.desktop-alignRight,
      &.desktop-alignBottomRight {
        justify-content: flex-end;
      }
    }

    &.desktop-horizontal {
      flex-direction: row;

      &.desktop-alignTopLeft,
      &.desktop-alignLeft,
      &.desktop-alignBottomLeft {
        align-items: flex-start;
      }

      &.desktop-alignTopCenter,
      &.desktop-alignCenter,
      &.desktop-alignBottomCenter {
        align-items: center;
      }

      &.desktop-alignTopRight,
      &.desktop-alignRight,
      &.desktop-alignBottomRight {
        align-items: flex-end;
      }
    }
  }
}
