---
import { storyblokEditable } from "@storyblok/astro";
import { HeroStoryblok } from "@types";

export type Props = {
  blok: HeroStoryblok;
};

const { blok } = Astro.props;
---

<section {...storyblokEditable(blok)}>
  <h2 data-field="title">{blok.title}</h2>
</section>
