---
import { storyblokEditable } from "@storyblok/astro";
import { HeroStoryblok } from "@types";

export type Props = {
  blok: HeroStoryblok;
};

const { blok } = Astro.props;
---

<style>
  section {
    min-height: 100vh;
    display: flex;
    align-items: center;

    &:first-of-type {
      min-height: var(--available-page-height);
    }
  }
</style>

<section {...storyblokEditable(blok)}>
  <h1 data-field="title">{blok.title}</h1>
</section>
