---
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { PageSectionStoryblok } from "@types";
import { resolveStylesBlocks } from "storyblok/styles/resolveStyles";

export type Props = {
  blok: PageSectionStoryblok;
};

const { blok } = Astro.props;

const { classNames } = resolveStylesBlocks(blok?.styles);
---

<style>
  .section {
    min-height: var(--available-page-height);
    position: relative;
  }
</style>

<section class:list={["section", classNames]} {...storyblokEditable(blok)}>
  {blok.columns?.map((column) => <StoryblokComponent blok={column} />)}
</section>
