---
import Main from "@components/Main.astro";
import { storyblokEditable } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { PageStoryblok } from "@types";
import { fontScales } from "styles/fontScales";

const { blok } = Astro.props;

export type Props = {
  blok: PageStoryblok;
};
---

<Main class={fontScales.marketing} {...storyblokEditable(blok)}>
  {
    blok?.body?.map((blok) => {
      if (!blok) {
        return null;
      }

      return <StoryblokComponent blok={blok} />;
    })
  }
</Main>
