---
const props = Astro.props;
---

<script>
  const anchors = document.querySelectorAll("a");
  const isTouchDevice = "ontouchstart" in window;

  const initRouteTransitions = async () => {
    const [
      { default: Swup },
      { default: SwupHeadPlugin },
      { default: SwupFadeTheme },
      { default: SwupA11yPlugin },
    ] = await Promise.all([
      import("swup"),
      import("@swup/head-plugin"),
      import("@swup/fade-theme"),
      import("@swup/a11y-plugin"),
    ]);

    new Swup({
      plugins: [
        new SwupHeadPlugin(),
        new SwupFadeTheme(),
        new SwupA11yPlugin(),
      ],
    });
  };

  const initRouteTransitionsOnFirstInteraction = async () => {
    initRouteTransitions();

    anchors.forEach((anchor) => {
      anchor.removeEventListener(
        "mouseenter",
        initRouteTransitionsOnFirstInteraction
      );
    });
  };

  if (isTouchDevice) {
    // TODO: Check if there's a better way to lazy load this  on touch devices
    await initRouteTransitions();
  } else {
    anchors.forEach((anchor) => {
      anchor.addEventListener(
        "mouseenter",
        initRouteTransitionsOnFirstInteraction,
        {
          once: true,
        }
      );
    });
  }
</script>

<main id="swup" {...props}>
  <slot />
</main>
