---
import "@fontsource/raleway";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import { fontScales } from "styles/fontScales";
import "styles/globals.css";

const storyblokApi = useStoryblokApi();

// TODO: Figure out how to batch all the layout data in a single request

// TODO: Figure out how to redirect to 404 page if story is not found
const { data } = await storyblokApi.get("cdn/stories", {
  starts_with: "layout/",
  resolve_relations: "internalLink.page",
  version: import.meta.env.PUBLIC_VERSION,
});

const header = data.stories.find(
  (story) => story.full_slug === "layout/header"
)?.content;

const footer = data.stories.find(
  (story) => story.full_slug === "layout/footer"
)?.content;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class={fontScales.regular}>
    {header ? <StoryblokComponent blok={header} /> : null}

    <slot />

    {footer ? <StoryblokComponent blok={footer} /> : null}
  </body>
</html>
