---
import "@fontsource/raleway";
import { useStoryblokApi } from "@storyblok/astro";
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro";
import "styles/globals.css";

const { fontScale = "blog" } = Astro.props;

const fontScales = {
  marketing: "marketing-font-scale",
  blog: "blog-font-scale",
} as const;

type Props = {
  fontScale?: keyof typeof fontScales;
};

const fontScaleClass = fontScales[fontScale];

const storyblokApi = useStoryblokApi();

// TODO: Figure out how to batch all the layout data in a single request

// TODO: Figure out how to redirect to 404 page if story is not found
const { data: headerData } = await storyblokApi.get(
  `cdn/stories/layout/header`,
  {
    // version: import.meta.env.DEV ? "draft" : "published",
    version: "draft",
    resolve_relations: "internalLink.page",
  }
);

const header = headerData.story.content;

const { data: footerData } = await storyblokApi.get(
  `cdn/stories/layout/footer`,
  {
    // version: import.meta.env.DEV ? "draft" : "published",
    version: "draft",
    resolve_relations: "internalLink.page",
  }
);

const footer = footerData.story.content;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class={fontScaleClass}>
    <StoryblokComponent blok={header} />

    <slot />

    <StoryblokComponent blok={footer} />
  </body>
</html>
