---
import "@fontsource/raleway";

const htmlAttributes = Astro.props;
---

<style is:global>
  :root {
    --color-primary: #8b00ff;
    --color-primary-dark: #2b0547;

    --color-background: var(--color-primary-dark);

    --color-text: #fff;
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-body);
    background: var(--color-background);
    color: var(--color-text);
    line-height: var(--line-height-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: var(--line-height-heading);
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-semi-bold);
  }

  h1 {
    font-size: var(--font-size-h1);
    margin-top: 0;
  }

  h2 {
    font-size: var(--font-size-h2);
  }

  h3 {
    font-size: var(--font-size-h3);
  }

  h4 {
    font-size: var(--font-size-h4);
  }

  h5 {
    font-size: var(--font-size-h5);
  }

  p {
    margin-bottom: 1rem;
    max-width: 70ch;
  }

  p,
  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
  }

  main {
    display: grid;
    grid-template-columns: 1fr min(90%, 1200px) 1fr;
  }

  main > * {
    grid-column: 2;
  }
</style>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav>
      <a href="/typography/major-third">Major Third</a>
      <br />
      <a href="/typography/golden-ratio">Golden Ratio</a>
    </nav>

    <main {...htmlAttributes}>
      <slot />
    </main>
  </body>
</html>
