---
import SiteLayout from "@layouts/SiteLayout.astro";
import MarketingFontScale from "styles/typography/MarketingFontScale.astro";
---

<MarketingFontScale />

<style>
  .small {
    font-size: var(--font-size-small);
  }
</style>

<SiteLayout>
  <h1>Golden Ratio</h1>

  <p>
    What looked like a small patch of purple grass, above five feet square, was
    moving across the sand in their direction.
  </p>

  <p>
    When it came near enough he perceived that it was not grass; there were no
    blades, but only purple roots. The roots were revolving, for each small
    plant in the whole patch, like the spokes of a rimless wheel.
  </p>

  <h2>Golden Ratio</h2>

  <p>
    What looked like a small patch of purple grass, above five feet square, was
    moving across the sand in their direction.
  </p>

  <p>
    When it came near enough he perceived that it was not grass; there were no
    blades, but only purple roots. The roots were revolving, for each small
    plant in the whole patch, like the spokes of a rimless wheel.
  </p>

  <h3>Golden Ratio</h3>

  <p>
    What looked like a small patch of purple grass, above five feet square, was
    moving across the sand in their direction.
  </p>

  <p>
    When it came near enough he perceived that it was not grass; there were no
    blades, but only purple roots. The roots were revolving, for each small
    plant in the whole patch, like the spokes of a rimless wheel.
  </p>

  <h4>Golden Ratio</h4>

  <p>
    What looked like a small patch of purple grass, above five feet square, was
    moving across the sand in their direction.
  </p>

  <p>
    When it came near enough he perceived that it was not grass; there were no
    blades, but only purple roots. The roots were revolving, for each small
    plant in the whole patch, like the spokes of a rimless wheel.
  </p>

  <h5>Golden Ratio</h5>

  <p>
    What looked like a small patch of purple grass, above five feet square, was
    moving across the sand in their direction.
  </p>

  <p>
    When it came near enough he perceived that it was not grass; there were no
    blades, but only purple roots. The roots were revolving, for each small
    plant in the whole patch, like the spokes of a rimless wheel.
  </p>

  <p class="small">Excerpt from A Voyage to Arcturus, by David Lindsay.</p>
</SiteLayout>
